page {
    height: 100%;
}

.at-button--primary {
    border    : 1PX solid #FFD433;
    background: #FFD433;
}

.pt-10 {
    padding-top: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}